{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center m-3 p-3">
            <h2>Conheça a PetPals Resort</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-left">
            <h3>Nossa história</h3>
            <p>
                O PetPals Resort foi fundado por um grupo de apaixonados amantes de animais de estimação que perceberam a necessidade de uma instalação premium que vai além dos cuidados tradicionais com animais. Os fundadores reconheceram que os animais de estimação não são apenas animais; são membros queridos das famílias que merecem o melhor cuidado possível e experiências excepcionais. A empresa começou com a visão de criar um refúgio onde os animais de estimação pudessem se deliciar com o luxo e desfrutar de uma atmosfera semelhante à de férias.

Os fundadores, impulsionados pelo compromisso com o bem-estar dos animais, embarcaram em uma jornada para criar um resort que priorizasse conforto, segurança e felicidade. Eles imaginaram um lugar onde os animais de estimação não apenas recebessem cuidados de alta qualidade, mas também participassem de atividades recreativas e interações sociais, refletindo as experiências de qualidade que seus proprietários desfrutam durante as férias.
            </p>
        </div>
        <div class="col-md-6 text-center">
            <br>
            <br>
            
            <img src="{% static 'images/historia.png' %}" alt="">
            <p>nosso primeiro resorte fundado em 2043</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 text-left">
            <h3>Nossos valores</h3>
            <ul>
                <li>Compromisso com o Bem-Estar: No PetPals, o conforto, a segurança e o bem-estar de cada animal que entra em nossos resorts têm prioridade. Estamos dedicados a criar um ambiente que prioriza a felicidade e a saúde deles.</li>
                <li>Serviço Personalizado: Reconhecendo as necessidades individuais tanto dos animais de estimação quanto de seus donos, fornecemos serviços personalizados que atendem aos requisitos únicos de cada animal e cliente. Nosso compromisso vai além do comum para promover uma conexão mais profunda.</li>
                <li>Sustentabilidade: Somos apaixonados pela sustentabilidade e buscamos ativamente práticas ecológicas em todas as nossas operações. Ao minimizar nosso impacto ambiental por meio do uso de fontes de energia renovável, materiais ecológicos e iniciativas de conservação, buscamos deixar uma marca positiva no mundo.</li>
            </ul>
        </div>
        <div class="col-md-6 text-center">
            <br>
            <br>
            
            <img src="{% static 'images/valores.png' %}" alt="">
            <p>Salsichão Risadinha recebendo cuidados Vet</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 text-left">
            <h3>Nossos serviços</h3>
            <ul>
                <li>Acomodações Luxuosas: Nossos resorts contam com quartos espaçosos e confortáveis, equipados com camas macias e áreas de brincadeiras internas e externas. Acreditamos que um animal de estimação mimado é um animal feliz.</li>

                <li>Cuidados Veterinários Especializados: A parceria com veterinários especializados garante que a saúde e o bem-estar de nossos hóspedes sejam atendidos por especialistas. Seus animais de estimação estão em boas mãos no PetPals.</li>

                <li>Programas Recreativos e Sociais: Desde parquinhos cuidadosamente planejados até sessões sociais interativas e até festas temáticas, oferecemos uma variedade de atividades recreativas para seus animais de estimação, promovendo tanto a estimulação mental quanto a física.</li>

                <li>Transmissão ao Vivo: Alivie suas preocupações acompanhando seus animais de estimação por meio de nossa opção de transmissão ao vivo. Nossas câmeras de última geração proporcionam uma visão da alegria e conforto que seus animais de estimação experimentam durante a estadia.</li>

                <li>Boutique de Delícias: Explore nossa boutique repleta de uma variedade de produtos premium, desde brinquedos até roupas elegantes. O PetPals garante que seus animais de estimação estejam adornados com luxo e estilo.</li>

            </ul>
        </div>
        <div class="col-md-6 text-center">
            <br>
            <br>
            
            <img src="{% static 'images/servicos.png' %}" alt="">
            <p>sala de terapia da PetPals</p>
        </div>
    </div>
</div>

{% endblock  %}