{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container">
    <div class="row">
			<div class="col-12 p-3 m-3 text-center">
				<h1>PetPals</h1>
        <p class="pt-4">O resort premium para o conforto e felicidade dos seus animais de estimação.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12 p-1 m-3 text-center">
				<img src="{% static 'images/banner.png' %}" alt="">
			</div>
		</div>
		<div class="row">
			<div class="col-12 p-5 m-3">
        <h2 class="pb-5">Nossos destaques</h2>
				<h3>Acomodações Luxuosas:</h3>
        <p>Oferecemos quartos espaçosos e confortáveis, equipados com camas macias e áreas de brincadeiras internas e externas. Garantimos que seu animal de estimação desfrute de uma estadia verdadeiramente mimada.</p>
        <h3>Cuidados Veterinários Especializados:</h3>
        <p>Parceria com veterinários especializados garante a saúde e o bem-estar dos nossos hóspedes. Seus animais de estimação estão em boas mãos com cuidados personalizados e atenção constante.</p>
        <h3>Programas Recreativos e Sociais:</h3>
        <p>Desde parquinhos planejados até sessões sociais interativas, oferecemos uma variedade de atividades recreativas para promover a estimulação mental e física do seu animal de estimação.</p>
        <h3>Transmissão ao Vivo:</h3>
        <p>Alivie suas preocupações ao acompanhar seu animal de estimação por meio da nossa opção de transmissão ao vivo. Nossas câmeras de última geração proporcionam uma visão da alegria e conforto que seus animais de estimação experimentam durante a estadia.</p>
        <h3>Boutique de Delícias:</h3>  
        <p>Explore nossa boutique repleta de produtos premium, desde brinquedos até roupas elegantes. No PetPals, garantimos que seus animais de estimação estejam sempre adornados com luxo e estilo.</p>    
      </div>
		</div>
    <div class="row">
        <div class="col-12 p-5 m-3">
            <h2>Contato</h2>
            <h4>Você pode entrar em contato conosco para mais informações, reservas ou esclarecimento de dúvidas. Estamos aqui para ajudar!</h4>
            <h3>Endereço:</h3>
            <p>PetPals Resort</p>
            <p>Avenida dos Animais, 123</p>
            <p>Cidade dos Bichinhos, Estado Feliz</p>
            <p>CEP: 12345-678</p>
            <h3>Telefone:</h3>
            <p>(55) 1234-5678</p>
            <h3>E-mail:</h3>
            <p>contato@petpalsresort.com</p>
            <h3>Horário de Atendimento:</h3>
            <p>Segunda a Sexta: 8h às 18h</p>
            <p>Sábado e Domingo: 9h às 15h</p>
          </div>
    </div>
</div>

{% endblock content %}



